services:
  db:
    image: postgres:13-alpine
    container_name: dcf_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=dcf_db
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      args:
        POSTGRES_PRISMA_URL: "postgresql://postgres:postgres@db:5432/dcf_db"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/dcf_db
    depends_on:
      - db
    ports:
      - "3000:3000"

volumes:
  postgres-data:


